@use '../../scss/config';

.container {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  border-radius: config.$br-small;
  overflow: hidden;
  background-color: white;
  box-shadow: config.$shadow-subtle;
  .iconContainer {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #fbfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      height: 1.5rem;
      width: 1.5rem;
      color: config.$dark_shade;
    }
  }
  .input {
    height: 2.5rem;
    width: 100%;
    padding: 0 0.5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    color: config.$dark_shade;
    &::placeholder {
      color: config.$light_accent;
    }
  }
}
